<section class="max-w-screen-xl mx-auto p-4">
  <app-tabela [colunas]="colunas" [data]="produtos" (dataAdd)="abrirModalCadastrar($event)" (dataEdit)="abrirModalEditar($event)" (dataDelete)="abrirModalDeletar($event)"></app-tabela>
</section>

<!-- Modal Edição -->
<p-dialog *ngIf="produtoSelecionado" header="Editar Produto" [(visible)]="showModalEditar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Nome:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Username"
          [(ngModel)]="produtoSelecionado.nome"
          name="nome"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="descricao">
          Descrição:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="descricao"
          type="text"
          placeholder="Descrição"
          [(ngModel)]="produtoSelecionado.descricao"
          name="descricao"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="valor">
          Preço:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="valor"
          type="text"
          placeholder="Preço"
          [(ngModel)]="produtoSelecionado.valor"
          name="valor"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="quantidade">
          Quantidade:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="quantidade"
          type="text"
          placeholder="Quantidade"
          [(ngModel)]="produtoSelecionado.quantidade"
          name="quantidade"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="imagem">
          URL Imagem:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="imagem"
          type="text"
          placeholder="Imagem"
          [(ngModel)]="produtoSelecionado.imagem"
          name="imagem"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="tipoProduto">
          Tipo do Produto:
        </label>
        <select
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-100"
          [formControl]="tipoProdutoSelecionado"
          name="tipoProduto"
        >
          <option *ngFor="let tipoProduto of tipoProdutos" [ngValue]="tipoProduto">{{ tipoProduto.descricao }}</option>
        </select>
      </div>
      <div class="flex items-end justify-end">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
          type="button"
          (click)="editarProduto()"
        >
          Editar
        </button>
      </div>
    </form>
  </div>
</p-dialog>

<!-- Modal Cadastro -->
<p-dialog *ngIf="tipoProdutoSelecionado" header="Cadastrar Produto" [(visible)]="showModalCadastrar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Nome:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Username"
          [(ngModel)]="produtoCadastro.nome"
          name="nome"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="descricao">
          Descrição:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="descricao"
          type="text"
          placeholder="Descrição"
          [(ngModel)]="produtoCadastro.descricao"
          name="descricao"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="valor">
          Preço:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="valor"
          type="number"
          placeholder="Preço"
          [(ngModel)]="produtoCadastro.valor"
          name="valor"
        />
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="quantidade">
          Quantidade:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="quantidade"
          type="number"
          placeholder="Quantidade"
          [(ngModel)]="produtoCadastro.quantidade"
          name="quantidade"
        />
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="imagem">
          URL Imagem:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="imagem"
          type="text"
          placeholder="Imagem"
          [(ngModel)]="produtoCadastro.imagem"
          name="imagem"
        />
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="tipoProduto">
          Tipo do Produto:
        </label>
        <select
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-100"
          [formControl]="tipoProdutoSelecionado"
          name="tipoProduto"
        >
          <option *ngFor="let tipoProduto of tipoProdutos" [ngValue]="tipoProduto">{{ tipoProduto.descricao }}</option>
        </select>
      </div>
      <div class="flex items-end justify-end">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
          type="button"
          (click)="cadastrarProduto()"
        >
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</p-dialog>

<!-- Modal Deletar -->
<p-dialog *ngIf="produtoSelecionado" header="Deletar Produto" [(visible)]="showModalDeletar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div>
    <p>Tem certeza que deseja deletar o produto {{ produtoSelecionado.nome }}?</p>
    <div class="flex items-end justify-end">
      <button
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
        type="button"
        (click)="deletarProduto()"
      >
        Deletar
      </button>
    </div>
  </div>
</p-dialog>